<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CkClient"
        tools:targetApi="31">

        <!-- VPN Service -->
        <service
            android:name=".MyVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <!-- Log Service -->
        <service
            android:name=".LogService"
            android:exported="false" />

        <!-- MainActivity -->
        <activity
            android:name=".com.example.ck_client.cloak.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CkClient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- VpnControlActivity -->
        <activity
            android:name=".VpnControlActivity"
            android:exported="true"
            android:label="VPN Service Control"
            android:theme="@style/Theme.CkClient">
        </activity>

        <!-- LogActivity -->
        <activity
            android:name=".LogActivity"
            android:exported="true"
            android:label="Log Activity"
            android:theme="@style/Theme.CkClient">
        </activity>

        <!-- CloakOutlineActivity -->
        <activity
            android:name=".CloakOutlineActivity"
            android:exported="true"
            android:label="Cloak-Outline Activity"
            android:theme="@style/Theme.CkClient">
        </activity>

    </application>

</manifest>